
*,
*::before,
*::after{
	box-sizing: border-box;
}

body{
	background-color: whitesmoke;
}

.container {
	max-width: 830px;
	margin: 30px auto;
}

.col-6 {
    width: 50%;
    float: left;
}

.wizard-layout {
	display: flex;
	flex-direction: row;
}
.wizard-content {
	flex: 1;
}

.block-content,
.block-aside {
	display: block;
}

.block-aside {
	text-align: center;
	display: flex;
	width: 300px;
}

.block-aside:before {
	content: "";
	background: linear-gradient(to right, white, whitesmoke);
	width: 20px;
	max-height: 100%;
}

.panel {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	flex: 1;
}

.panel-header,
.panel-footer {
	padding: 30px;
}

.panel-body {
	flex: 1;
	padding: 0 30px;
	align-items: center; /**/
	align-content: center; /**/
}
.aside-header:after,
.aside-footer:before {
	content: "";
	display: inline-block;
	height: 20px;
	width: 30px;
	border-bottom: 3px solid grey;
	margin-bottom: 15px;
}

.aside-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.control-group { 
	padding: 15px 10px;
}

.text-small {
	margin-top: 0px;
	font-size: 13px;
	color: grey;
}

.input-area {
	width: 100%;
	align-self: flex-start;
	height: 50px;
}

.icon-large {
	font-size: 50px;
	color: #5e9af9;
}

.button-default, .button-primary {
	border-radius: 30px;
	padding: 10px 20px;
	text-decoration: none;
	border: 0px;
	background-color: #fff;
	float: right;
}

.button-primary {
	background-color: #5e9af9;
	color: #fff;
}

hr {
	text-align: center;
    border-bottom: 3px solid grey;
    width: 15%;
}

.step-button {
	background-color: #fff;
	border-radius: 50%;
	padding: 5px 10px;
	border: 2px solid transparent;
}

.step-selected {
 	border-color: #5e9af9;
}


/* UTILITIES */

.text-large {
	margin-top: 10px;
	font-size: 15px;
}

.title {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}